<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <img src="/images/icon.png" width="30" />&nbsp;About MongoCMS
          </h4>

        </div>
        <div class="modal-body">
          <p>
            This prototype has been developed in order to demonstrate MongoDB & GridFS capabilities as a CMS.
            This prototype includes following technical components :
          </p>
          <ul>
            <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a> : NoSQL document oriented database used as CMS repository</li>
            <li><a href="https://docs.mongodb.com/manual/core/gridfs/" target="_blank">GridFS</a> : MongoDB feature used for storing binary data</li>
            <li><a href="https://nodejs.org" target="_blank">NodeJS</a>  : Javascript event oriented platform</li>
            <li><a href="https://sailsjs.com/" target="_blank">SailsJS</a> : NodeJS MVC framework used for implementing the back-end</li>
            <li><a href="https://getbootstrap.com/docs/3.3/" target="_blank">Bootstrap</a> : HTML & CSS framework used for implementing the front-end</li>
          </ul>
          This prototype implements following features :
          <ul>
            <li>Directory browsing</li>
            <li>Directory creation</li>
            <li>File uploading</li>
            <li>File versioning (based on file name and creation date)</li>
            <li>Check-in & checkout</li>
            <li>File (last version) and directory deletion </li>
            <li>Basic search based on file name</li>
           </ul>
          <p>
            For more information about this prototype, please contact <a href="mailto:abdellatif.elmaknati@amplexor.com">abdellatif.elmaknati@amplexor.com</a>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
