#breadcrumb a{
  display: inline-block;
  padding: 5px;
  min-width: 20px;
  text-align: center;
}

#breadcrumb a:hover{
  background-color: #eee;
}

#about{
  font-size: 30px;
  float: right;
  color: #fff;
}
